.background {
	-fx-background-image: url('assets/bois.jpeg');
	-fx-background-repeat: stretch;
    -fx-background-size: 1000 600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

Label {
	-fx-font-weight: bold;
	-fx-text-fill: #42B389;
}

#imgViewLogo {
	-fx-border-image-source: url('assets/pancake.png');
}

ImageView {

}